<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="link_header"><%= link_to "Restaurants", restaurants_path %></div>
        <div class="link_header"><%= link_to "Add a restaurant", new_restaurant_path %></div>
      </div>
    </nav>

    <div id="body-yield">
      <%= yield %>
    </div>
  </body>
</html>
